<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ion.modeler.category.wizards"
            name="Ion Modeler">
      </category>
      <wizard
            category="ion.modeler.category.wizards"
            class="ion.modeler.wizards.NewProjectWizard"
            hasPages="true"
            icon="icons/ion-project.png"
            id="ion.modeler.wizard.new.project"
            name="Новый проект модели Ion"
            project="true">
      </wizard>
      <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewEntityWizard"
            hasPages="true"
            icon="icons/ion-project.png"
            id="ion.modeler.newEntityWizard"
            name="Создать сущность"
            project="false">
      </wizard>
           <wizard
            class="ion.modeler.wizards.NewJspWizard"
            icon="icons/ion-project.png"
            id="ion.modeler.NewJspWizard"
            name="Новая jsp-страницa"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewUserTypeWizard"
            hasPages="true"
            icon="icons/ion-project.png"
            id="ion.modeler.newUserTypeWizard"
            name="Создать новый тип"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewValidatorWizard"
            hasPages="true"
            icon="icons/ion-project.png"
            id="ion.modeler.newValidatorWizard"
            name="Создать новый валидатор"
            project="false">
      </wizard>
	  <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewWorkflowWizard"
            hasPages="true"
            icon="icons/valid.png"
            id="ion.modeler.newWorkflowWizard"
            name="Создать новый бизнес процесс"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewWorkflowStateWizard"
            hasPages="true"
            icon="icons/valid.png"
            id="ion.modeler.newWorkflowStateWizard"
            name="Создать новое состояние"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewWorkflowTransitionWizard"
            hasPages="true"
            icon="icons/valid.png"
            id="ion.modeler.newWorkflowTransitionWizard"
            name="Создать новый переход"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="true"
            class="ion.modeler.wizards.NewWorkflowSelectionKeyValueWizard"
            hasPages="true"
            icon="icons/valid.png"
            id="ion.modeler.newWorkflowSelectionKeyValueWizard"
            name="Создать новый элемент"
            project="false">
      </wizard>
      <wizard
            class="ion.modeler.wizards.NewSectionWizard"
            icon="icons/ion-project.png"
            id="ion.modeler.newSectionWizard"
            name="Создать секцию навигации"
            project="false">
      </wizard>
      <wizard
            class="ion.modeler.wizards.NewNodeWizard"
            icon="icons/ion-project.png"
            id="ion.modeler.newNodeWizard"
            name="Создать узел навигации"
            project="false">
      </wizard>
      <wizard
            class="ion.modeler.wizards.NewViewWizard"
            icon="icons/ion-project.png"
            id="ion.modeler.newViewWizard"
            name="Создать представление"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="ion.modeler.wizards.NewPropertyWizard"
            hasPages="true"
            icon="icons/ion-project.png"
            id="ion.modeler.newPropertyWizard"
            name="Создать новый атрибут"
            project="false">
      </wizard>
      <wizard
            canFinishEarly="false"
            class="ion.modeler.wizards.NewAttrTplWizard"
            hasPages="true"
            icon="icons/ion-project.png"
            id="ion.modeler.newPropertyTplWizard"
            name="Создать новый шаблон атрибута"
            project="false">
      </wizard>
         
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="ion.modeler.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="ion.modeler.actionProvider">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         id="ion.modeler.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ion.modeler.natures.ProjectNature">
         </run>
      </runtime>
      <builder
            id="ion.modeler.builders.fixer">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ion-project-overlay.png"
            id="ion.modeler.natureImage"
            natureId="ion.modeler.projectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="ion.modeler.view.ContentProvider"
            id="ion.modeler.navigatorContent"
            labelProvider="ion.modeler.view.LabelProvider"
            name="Ion Modeler Navigator Content"
            priority="normal"
            providesSaveables="false">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="ion.modeler.projectNature">
                  </test>
               </adapt>
               <instanceof
                     value="ion.modeler.resources.IonEntityResource">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                  value="ion.modeler.resources.IonEntityResource">
            </instanceof>
         </possibleChildren>
         <commonSorter
               class="ion.modeler.view.NavigationSorter"
               id="ion.modeler.navigationSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="ion.modeler.resources.IonNodeResource">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.ModelProjectMeta">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                     <test
                           forcePluginActivation="true"
                           property="org.eclipse.core.resources.projectNature"
                           value="ion.modeler.projectNature">
                     </test>
                  </adapt>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="ion.modeler.actions.ActionProvider"
            id="ion.modeler.actionProvider"
            overrides="org.eclipse.ui.navigator.resources.OpenActions"
            priority="highest">
         <enablement>
            <instanceof
                  value="ion.modeler.resources.IonModelResource">
            </instanceof>
         </enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.new">
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новая сущность"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newEntityWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.entityParentSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новый пользовательский тип"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newUserTypeWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.userTypeParentSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новый валидатор"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newValidatorWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.userValidatorSelected">
               </reference>
            </visibleWhen>
         </command>
          <command
               commandId="org.eclipse.ui.newWizard"
               label="Новый бизнес процесс"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newWorkflowWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.workflowSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новая секция навигации"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newSectionWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.sectionParentSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новый узел навигации"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newNodeWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.nodeParentSelected">
               </reference>
            </visibleWhen>
         </command>
                  <command
               commandId="org.eclipse.ui.newWizard"
               label="Сгенерировать jsp-страницу"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.NewJspWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.nodeParentSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новое представление"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newViewWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.viewParentSelected">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="ion.modeler.deploy.generateScript"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="ion.modeler.deploy.webDeploy"
               style="push">
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.ui.newWizard"
               label="Новый шаблон атрибута"
               style="push">
            <parameter
                  name="newWizardId"
                  value="ion.modeler.newPropertyTplWizard">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.attrTplParentSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               label="Удалить"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="ion.modeler.canDelete">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ion.modeler.deploy.generateScript"
            name="Генерировать скрипт миграции">
      </command>
      <command
            id="ion.modeler.deploy.webDeploy"
            name="Развернуть модель">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ion.modeler.handlers.IonDeleteHandler"
            commandId="org.eclipse.ui.edit.delete">
         <enabledWhen>
            <reference
                  definitionId="ion.modeler.canDelete">
            </reference>
         </enabledWhen>
         <activeWhen>
            <reference
                  definitionId="ion.modeler.canDelete">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ion.modeler.deploy.DbScriptGenerationHandler"
            commandId="ion.modeler.deploy.generateScript">
         <activeWhen>
            <reference
                  definitionId="ion.modeler.projectSelected">
            </reference></activeWhen>
         <enabledWhen>
            <reference
                  definitionId="ion.modeler.projectSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ion.modeler.deploy.WebDeployHandler"
            commandId="ion.modeler.deploy.webDeploy">
         <activeWhen>
            <reference
                  definitionId="ion.modeler.projectSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="ion.modeler.projectSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="ion.modeler.entityParentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.ModelProjectMeta">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.IonEntityResource">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.userTypeParentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.ModelProjectUserTypes">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.IonUserTypeResource">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.attrTplParentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.ModelProjectAttrTemplates">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.IonPropertyTemplateResource">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>      
      <definition
            id="ion.modeler.userValidatorSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.IonListViewValidators">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.IonValidatorResource">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
        <definition
            id="ion.modeler.workflowSelected">
         <with
           variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.ModelProjectWorkflow">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.IonWorkflowResource">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.canDelete">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="ion.modeler.resources.IonFileBasedResource">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.sectionParentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
              <instanceof
                    value="ion.modeler.resources.ModelProjectViews">
              </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.nodeParentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.IonSectionResource">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.IonNodeResource">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.viewParentSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <or>
                  <instanceof
                        value="ion.modeler.resources.IonNodeResource">
                  </instanceof>
                  <instanceof
                        value="ion.modeler.resources.ModelProjectViews">
                  </instanceof>
               </or>
            </iterate>
         </with>
      </definition>
      <definition
            id="ion.modeler.projectSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="and">
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        forcePluginActivation="true"
                        property="org.eclipse.core.resources.projectNature"
                        value="ion.modeler.projectNature">
                  </test>
               </adapt></iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ion.modeler.editors.EntityEditor"
            default="false"
            id="ion.modeler.editors.entityEditor"
            name="Редактор сущности">
      </editor>
      <editor
            class="ion.modeler.editors.UserTypeEditor"
            default="false"
            id="ion.modeler.editors.userTypeEditor"
            name="Редактор пользовательского типа">
      </editor>
      <editor
            class="ion.modeler.editors.ValidatorEditor"
            default="false"
            id="ion.modeler.editors.validatorEditor"
            name="Редактор валидатора">
      </editor>      
      <editor
            class="ion.modeler.editors.SectionEditor"
            default="false"
            id="ion.modeler.editors.sectionEditor"
            name="Редактор секции навигации">
      </editor>
        <editor
            class="ion.modeler.editors.WorkflowEditor"
            default="false"
            id="ion.modeler.editors.workflowEditor"
            name="Редактор бизнес процессов">
      </editor>
      <editor
            class="ion.modeler.editors.NodeEditor"
            default="false"
            id="ion.modeler.editors.nodeEditor"
            name="Редактор узла навигации">
      </editor>
      <editor
            class="ion.modeler.editors.ListViewEditor"
            default="false"
            id="ion.modeler.editors.listEditor"
            name="Редактор представления списка">
      </editor>
      <editor
            class="ion.modeler.editors.FormViewEditor"
            default="false"
            id="ion.modeler.editors.formEditor"
            name="Редактор представления формы">
      </editor>
      <editor
            class="ion.modeler.editors.PropertyTplEditor"
            default="false"
            id="ion.modeler.editors.propertyTemplateEditor"
            name="Редактор шаблона атрибута">
      </editor>
   </extension>
   <extension
         id="org.eclipse.ui.ide.resourceMappingAdapters"
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="ion.modeler.resources.IonEntityResource"
            class="ion.modeler.ResourceAdapter">
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
         <adapter
               type="org.eclipse.core.resources.IResource">
         </adapter>
         <adapter
               type="org.eclipse.core.runtime.PlatformObject">
         </adapter>
      </factory>
   </extension>
   <extension
         id="ion.modeler.builders.fixer"
         name="исправление меты после радикальных изменений в архитектуре"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run
               class="ion.modeler.builders.IonMetaDeprecationFixer">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ion.modeler.projects.IonProjectPropertiesPage"
            id="ion.modeler.project.propertiesPage"
            name="Настройки Ion">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.core.resources.projectNature"
                     value="ion.modeler.projectNature">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="ion.modeler.view.LabelDecorator"
            id="ion.modeler.decorator"
            label="декоратор моделей Ion "
            lightweight="false"
            state="true">
         <enablement>
            <objectClass
                  name="ion.modeler.resources.IonModelResource">
            </objectClass>
         </enablement>
      </decorator>
   </extension>

</plugin>
